{% extends 'base.html.twig' %}

{% block title %}Page d'inscription{% endblock %}

{% block body %}

<div class="container my-5 py-3 isForm">
    <h1 class="mb-5 text-center">Inscrivez-vous</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn formBtn my-3 text-white">Confirmez votre inscription</button>
    </div>
    {{ form_end(form) }}

</div>
{% endblock %}