{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord - Administration{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Tableau de bord de l'administration</h1>
{% endblock %}
