		<!-- FOOTER -->
		
		<footer class="container-fluid d-flex justify-content-center row">
			
			<div class="container pt-5 row justify-content-center">
				
				<div id="carte-footer" class="col-3">
					<h2 class="h3 text-white">Informations</h2>
					<div class="row">
						<div id="petittraitbeige" class="col-1 ml-3"></div>
						<div id="petittraitbeige" class="col-3 ml-3"></div>
					</div>
					<ul>
						<li><i class="fa fa-arrow-circle-o-right text-white"></i>&nbsp;<a href="">Lien 1</a></li>
						<li><i class="fa fa-arrow-circle-o-right text-white"></i>&nbsp;<a href="">Lien 2</a></li>
						<li><i class="fa fa-arrow-circle-o-right text-white"></i>&nbsp;<a href="">Lien 3</a></li>
						<li><i class="fa fa-arrow-circle-o-right text-white"></i>&nbsp;<a href="">Lien 4</a></li>
						<li><i class="fa fa-arrow-circle-o-right text-white"></i>&nbsp;<a href="">Lien 5</a></li>
						<li><i class="fa fa-arrow-circle-o-right text-white"></i>&nbsp;<a href="">Lien 6</a></li>
					</ul>
				</div>
				
				<div id="carte-footer" class="col-3">
					<h2 class="h3 text-white">Nos Services</h2>
					<div class="row">
						<div id="petittraitbeige" class="col-1 ml-3"></div>
						<div id="petittraitbeige" class="col-3 ml-3"></div>
					</div>
					<ul>
						<li><i class="fa fa-arrow-circle-o-right text-white"></i>&nbsp;<a href="">Lien 1</a></li>
						<li><i class="fa fa-arrow-circle-o-right text-white"></i>&nbsp;<a href="">Lien 2</a></li>
						<li><i class="fa fa-arrow-circle-o-right text-white"></i>&nbsp;<a href="">Lien 3</a></li>
						<li><i class="fa fa-arrow-circle-o-right text-white"></i>&nbsp;<a href="">Lien 4</a></li>
						<li><i class="fa fa-arrow-circle-o-right text-white"></i>&nbsp;<a href="">Lien 5</a></li>
						<li><i class="fa fa-arrow-circle-o-right text-white"></i>&nbsp;<a href="">Lien 6</a></li>
					</ul>
				</div>
				
				<div id="carte-footer" class="col-3">
					<h2 class="h3 text-white">Contactez-nous</h2>
					<div class="row">
						<div id="petittraitbeige" class="col-1 ml-3"></div>
						<div id="petittraitbeige" class="col-3 ml-3"></div>
					</div>
					<p class="text-white pt-4"><span class="beige">Email:</span><br>mail@site.com</p>
					<p class="text-white pt-4"><span class="beige">Téléphone:</span><br>01.23.45.67.89</p>
					<p class="text-white pt-4"><span class="beige">Adresse:</span><br>15 chemin de la Crabe<br>31300 Toulouse</p>
				</div>
				
				<div id="carte-footer" class="col-3">
					<h2 class="h3 text-white">Nos Services</h2>
					<div class="row">
						<div id="petittraitbeige" class="col-1 ml-3"></div>
						<div id="petittraitbeige" class="col-3 ml-3"></div>
					</div>
					<ul>
						<li><i class="fa fa-facebook text-white"></i>&nbsp;<a href="">Facebook</a></li>
						<li><i class="fa fa-twitter text-white"></i>&nbsp;<a href="">Twitter</a></li>
						<li><i class="fa fa-linkedin text-white"></i>&nbsp;<a href="">Linkedin</a></li>
						<li><i class="fa fa-pinterest text-white"></i>&nbsp;<a href="">Pinterest</a></li>
						<li><i class="fa fa-rss text-white"></i>&nbsp;<a href="">RSS Feed</a></li>
					</ul>
				</div>
				
			</div>
			
		</footer>
		
		<section id="menu-bas">
			
			<div class="container">
				<nav>
					<ul>
						<li><a href="">Accueil</a></li>
						<li><a href="">A propos</a></li>
						<li><a href="">Services</a></li>
						<li><a href="">Commandes</a></li>
						<li><a href="">Blog</a></li>
						<li><a href="">Boutique</a></li>
						<li><a href="">Contact</a></li>
					</ul>
					<p class="text-white">Copyright © 2020 Tous droits réservés par <span class="beige">Formation31</span></p>
				</nav>
			</div>
			
		</section>

